## 30 文件读取

In [2]:
import numpy as np
import pandas as pd

In [11]:
pd.Series(np.arange(1000), pd.date_range('2020.1.1', periods=1000))

2020-01-01      0
2020-01-02      1
2020-01-03      2
2020-01-04      3
2020-01-05      4
             ...
2022-09-22    995
2022-09-23    996
2022-09-24    997
2022-09-25    998
2022-09-26    999
Freq: D, Length: 1000, dtype: int32

In [13]:
se = _
se.to_csv('date.csv')

D:\Anaconda3\envs\d9-quant\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.

In [20]:
pd.read_csv('date.csv', index_col="2020-01-01", parse_dates=True)

              0
2020-01-01
2020-01-02    1
2020-01-03    2
2020-01-04    3
2020-01-05    4
2020-01-06    5
...         ...
2022-09-22  995
2022-09-23  996
2022-09-24  997
2022-09-25  998
2022-09-26  999

[999 rows x 1 columns]

In [22]:
df = _
df.index

DatetimeIndex(['2020-01-02', '2020-01-03', '2020-01-04', '2020-01-05',
               '2020-01-06', '2020-01-07', '2020-01-08', '2020-01-09',
               '2020-01-10', '2020-01-11',
               ...
               '2022-09-17', '2022-09-18', '2022-09-19', '2022-09-20',
               '2022-09-21', '2022-09-22', '2022-09-23', '2022-09-24',
               '2022-09-25', '2022-09-26'],
              dtype='datetime64[ns]', name='2020-01-01', length=999, freq=None)

In [27]:
pd.read_csv('date.csv', header=None, names=['a','b'], skiprows=[1,2,3])

              a    b
0    2020-01-01    0
1    2020-01-05    4
2    2020-01-06    5
3    2020-01-07    6
4    2020-01-08    7
..          ...  ...
992  2022-09-22  995
993  2022-09-23  996
994  2022-09-24  997
995  2022-09-25  998
996  2022-09-26  999

[997 rows x 2 columns]

In [29]:
d = _
d.index

RangeIndex(start=0, stop=997, step=1)

In [30]:
pd.read_csv('date.csv', na_values=['none'])

     2020-01-01    0
0    2020-01-02    1
1    2020-01-03    2
2    2020-01-04    3
3    2020-01-05    4
4    2020-01-06    5
..          ...  ...
994  2022-09-22  995
995  2022-09-23  996
996  2022-09-24  997
997  2022-09-25  998
998  2022-09-26  999

[999 rows x 2 columns]

## 31 文件写入

In [ ]:
参数： sep 指定文件分隔符
       na_rep 将nan替换为指定字符串

In [33]:
_

     2020-01-01    0
0    2020-01-02    1
1    2020-01-03    2
2    2020-01-04    3
3    2020-01-05    4
4    2020-01-06    5
..          ...  ...
994  2022-09-22  995
995  2022-09-23  996
996  2022-09-24  997
997  2022-09-25  998
998  2022-09-26  999

[999 rows x 2 columns]

In [34]:
pd.read_*?