![联系1---股票数据分析](./image/微信图片_20200406225758.jpg)

![招商国证生物医药指数](./image/微信图片_20200406225827.jpg)

In [2]:
import tushare as ts
import pandas as pd
df_300142 = ts.get_hist_data('300142')  # 沃森生物 300142

In [3]:
# 获取历史行情数据
df_300142.to_csv('沃森生物300142.csv')

### 输出收盘比开盘上涨3%的所有日期

In [4]:
# 输出收盘比开盘上涨3%的所有日期
import pandas as pd
df_300142 = pd.read_csv('沃森生物300142.csv', index_col='date', parse_dates=True)
df_300142

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20
date,,,,,,,,,,,,,
2020-04-17,36.10,37.72,36.55,35.80,476390.31,0.55,1.53,34.814,33.430,31.903,394111.37,334459.52,281955.44
2020-04-16,35.00,36.59,36.00,34.80,432324.72,1.10,3.15,33.940,32.881,31.576,370141.49,303071.89,270303.31
2020-04-15,35.00,35.42,34.90,34.29,347842.88,0.14,0.40,33.212,32.390,31.300,336645.92,288137.07,261693.88
2020-04-14,32.01,35.00,34.76,31.81,514378.75,2.90,9.10,32.536,32.066,31.084,299805.10,295848.78,259083.16
2020-04-13,32.06,32.50,31.86,31.26,199620.20,-0.32,-0.99,32.022,31.555,30.854,251243.56,267599.14,249323.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-10-24,18.15,18.15,17.93,17.65,129656.28,-0.16,-0.88,17.534,17.534,17.534,141734.92,141734.92,141734.92
2017-10-23,17.74,18.18,18.09,17.60,146576.19,0.41,2.32,17.435,17.435,17.435,144754.58,144754.58,144754.58
2017-10-20,17.16,17.74,17.68,16.98,156319.34,0.51,2.97,17.217,17.217,17.217,144147.38,144147.38,144147.38
2017-10-19,16.73,17.19,17.17,16.54,143070.17,0.37,2.20,16.985,16.985,16.985,138061.40,138061.40,138061.40
2017-10-18,16.81,17.00,16.80,16.55,133052.62,-0.01,-0.06,16.800,16.800,16.800,133052.62,133052.62,133052.62

In [5]:
df_300142.loc[:,['open', 'close']]

             open  close
date
2020-04-17  36.10  36.55
2020-04-16  35.00  36.00
2020-04-15  35.00  34.90
2020-04-14  32.01  34.76
2020-04-13  32.06  31.86
...           ...    ...
2017-10-24  18.15  17.93
2017-10-23  17.74  18.09
2017-10-20  17.16  17.68
2017-10-19  16.73  17.17
2017-10-18  16.81  16.80

[610 rows x 2 columns]

In [6]:
(df_300142['close']-df_300142['open']) > 0.1
open_price = df_300142['open']
close_price = df_300142['close']
df_300142[(close_price-open_price)/open_price > 0.03].index

DatetimeIndex(['2020-04-14', '2020-04-03', '2020-03-31', '2020-03-10',
               '2020-02-17', '2020-02-14', '2020-02-04', '2019-12-26',
               '2019-12-05', '2019-11-06', '2019-10-10', '2019-09-20',
               '2019-08-08', '2019-07-30', '2019-07-17', '2019-07-01',
               '2019-06-17', '2019-06-14', '2019-06-11', '2019-06-03',
               '2019-05-27', '2019-05-21', '2019-05-16', '2019-04-24',
               '2019-04-17', '2019-04-04', '2019-04-02', '2019-03-28',
               '2019-03-22', '2019-03-05', '2019-02-26', '2019-01-16',
               '2018-12-26', '2018-12-05', '2018-11-27', '2018-11-21',
               '2018-11-12', '2018-11-06', '2018-10-30', '2018-10-22',
               '2018-10-19', '2018-08-23', '2018-08-07', '2018-07-27',
               '2018-07-24', '2018-07-13', '2018-07-12', '2018-07-09',
               '2018-06-29', '2018-06-20', '2018-06-08', '2018-06-06',
               '2018-05-22', '2018-05-10', '2018-05-02', '2018-04-27',
               '2018-04-24', '2018-03-28', '2018-03-26', '2018-03-20',
               '2018-03-01', '2018-02-22', '2018-02-12', '2018-01-22',
               '2018-01-18', '2018-01-09', '2018-01-04', '2018-01-03',
               '2018-01-02', '2017-12-11', '2017-12-04', '2017-11-30',
               '2017-11-24', '2017-11-20', '2017-11-16', '2017-11-10',
               '2017-11-06', '2017-11-01', '2017-10-20'],
              dtype='datetime64[ns]', name='date', freq=None)

### 输出所有开盘比前日收盘跌幅超过2%的日期

In [89]:
df_300142.loc[:,['open', 'close']]

             open  close
date
2020-04-16  35.00  36.00
2020-04-15  35.00  34.90
2020-04-14  32.01  34.76
2020-04-13  32.06  31.86
2020-04-10  32.50  32.18
...           ...    ...
2017-10-23  17.74  18.09
2017-10-20  17.16  17.68
2017-10-19  16.73  17.17
2017-10-18  16.81  16.80
2017-10-17  16.75  16.81

[610 rows x 2 columns]

In [8]:
before_close_price = df_300142['close'].shift(-1)

In [26]:
df_300142[(before_close_price-open_price)/before_close_price > 0.02].loc[:,['open','close']]

             open  close
date
2020-03-23  29.25  29.14
2020-03-13  29.60  30.08
2020-02-28  29.00  28.60
2020-02-03  25.51  25.65
2019-07-10  27.19  27.29
2019-05-06  26.10  24.53
2018-10-25  14.90  15.10
2018-10-19  13.30  14.35
2018-10-18  15.26  14.08
2018-10-11  20.58  19.80
2018-09-17  20.20  20.67
2018-07-24  17.51  19.38
2018-07-23  18.92  18.92
2018-07-16  20.88  21.40
2018-06-27  19.59  18.85
2018-06-19  21.60  19.98
2018-03-23  19.42  19.24
2018-02-09  16.70  16.80
2018-01-15  20.01  20.05
2018-01-04  18.50  19.29
2018-01-03  18.31  18.98

In [106]:
df_300142.loc['2020-03-20',['open', 'close']]

             open  close
date
2020-03-20  30.19  30.29

### 假如从2018年1月1日开始，每月第一个交易日买入1手股票，每年最后一个交易日卖出所有股票，到今天为止，收益如何

In [96]:
# 找到2018.1.1每个月第一个交易日的记录，1.找到18年交易记录；2.找到每个月的第一个交易日的标签作为索引
import pandas as pd
df_300142 = pd.read_csv('沃森生物300142.csv', index_col='date', parse_dates=True)
df = df_300142.loc[:'2018',:]
df_monthly = df.resample('MS').first()  # 2018年之后每个月第一个交易日的数据
df_yearly = df.resample('A').last()  # 2018年之后每年最后一个交易日的数据
df_yearly = df_yearly[:-1]  # 将2020年切掉，因为还没到时间

# 每月第一个交易日 以 开盘价 买入1手
cost_money = 0  # 买入的花费
hold = 0  # 持有股票的总分数

# 1.先计算有几年的数据
for year in df_yearly.index:
    # 2. 将年份转换为字符串，用于找到本年的每月数据
    # 3. 以每月第一个交易日的开盘价格买入1手
    y = year.strftime('%Y')
    cost_money += df_monthly[y]['open'].sum()*100  # 买入花费
    hold += len(df_monthly[y]['open'])*100  # 持有份额
    
    # 4 每年的最后一个交易日，以收盘价卖出
    cost_money -= df_yearly[y]['close'].values[0]*hold  # 买入的花费 - 卖出的收益 = 现收益
    hold = 0
    pass

# 5 最后计算2020年还没有到年底卖出的花费和分数

cost_money

-7016.0

In [88]:
df_yearly['close']

date
2018-12-31    19.10
2019-12-31    32.44
Freq: A-DEC, Name: close, dtype: float64

In [27]:
df_300142

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20
date,,,,,,,,,,,,,
2020-04-17,36.10,37.72,36.55,35.80,476390.31,0.55,1.53,34.814,33.430,31.903,394111.37,334459.52,281955.44
2020-04-16,35.00,36.59,36.00,34.80,432324.72,1.10,3.15,33.940,32.881,31.576,370141.49,303071.89,270303.31
2020-04-15,35.00,35.42,34.90,34.29,347842.88,0.14,0.40,33.212,32.390,31.300,336645.92,288137.07,261693.88
2020-04-14,32.01,35.00,34.76,31.81,514378.75,2.90,9.10,32.536,32.066,31.084,299805.10,295848.78,259083.16
2020-04-13,32.06,32.50,31.86,31.26,199620.20,-0.32,-0.99,32.022,31.555,30.854,251243.56,267599.14,249323.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-10-24,18.15,18.15,17.93,17.65,129656.28,-0.16,-0.88,17.534,17.534,17.534,141734.92,141734.92,141734.92
2017-10-23,17.74,18.18,18.09,17.60,146576.19,0.41,2.32,17.435,17.435,17.435,144754.58,144754.58,144754.58
2017-10-20,17.16,17.74,17.68,16.98,156319.34,0.51,2.97,17.217,17.217,17.217,144147.38,144147.38,144147.38
2017-10-19,16.73,17.19,17.17,16.54,143070.17,0.37,2.20,16.985,16.985,16.985,138061.40,138061.40,138061.40
2017-10-18,16.81,17.00,16.80,16.55,133052.62,-0.01,-0.06,16.800,16.800,16.800,133052.62,133052.62,133052.62